.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslateblue;    
    width: 100vw;
}

.form-reg{
    width: 100%;
    max-width: 430px;
    text-align: center;
}