.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslateblue;    
    width: 100vw;
}

.col3{
    width: 100%;
}

.regForm{
    max-width: 65vh;
}