<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner-principal">
    <div class="container text-center">
      <h1 class="display-3">Clínica La Online</h1>      
    </div>
</div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Contacto</h2>
        <p>Datos de contacto</p>
        <p><a class="btn btn-secondary" href="#" role="button">Contacto</a></p>
      </div>
      <div class="col-md-4">
        <h2>Nuestros Profesionales</h2>
        <p>Conozca a los integrantes de nuestro equipo.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver Especialistas</a></p>
      </div>
      <div class="col-md-4">
        <h2>Especialidades</h2>
        <p>Tenemos diferentes especialidades médicas y además contamos con laboratorio propio.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver Especialidades</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->