.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslateblue;    
    width: 100vw;
}

.boton-imagen{
    height: 20vh;
    background-color: rgb(101, 89, 89);
    border-radius: 20px;
}

button{
    border: 0;
}
button:hover{
    transform: scale(0.9);
}